
/bin/
/target/
/.settings
/test-output/Suite
/test-output
/apk/*.apk
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/.plugins/org.eclipse.ui.intro/introstate
.metadata/version.ini
*.gen
*.log
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments_3
*.lock
*.ser
*.xml
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments_3
*.cfs
*.del
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments_1
*.tii
*.nrm
*.tis
*.fnm
*.fdx
*.fdt
*.frq
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/segments_1
*.xmi
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/http-cache/segments_1
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
*.json
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
*.prefs
*.version
*.index
*.zip
*.resources
*.dat
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.m2e.core/nexus/5440654e72f053c7886a93f0432116c8/segments_3
*.setup
.metadata/.mylyn/.taskListIndex/segments_1
*.2018_03_05_08_23
*.logs
*.logs
*.xml
*.xml
*.xml
*.java
*.logs
*.logs
*.logs
*.logs
*.logs
*.pdf

