
*.css
*.js
*.html
*.gif
*.png
*.xml
*.logs
*.ser
*.cfs
*.del
*.gen
*.fnm
*.fdx
*.frq
*.tii
*.lock
*.nrm
*.tis
*.json
*.version
*.resources
*.prefs
*.fdt
*.zip
*.xmi
*.dat
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments_3
*.log
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments_3
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.ui.intro/introstate
.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
.metadata/version.ini
.metadata/.plugins/org.eclipse.m2e.core/nexus/5440654e72f053c7886a93f0432116c8/segments_3
apk/Miracle_A-1.0.35.3.apk
*.pdf
*.pdf
Demo_2018-02-28 16-16-27.pdf
.metadata/.mylyn/.taskListIndex/segments_1
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/segments_1
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments_1
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
*.2018_03_05_08_23
test-output/report_20180305-0932/old/Suite/Demo.properties
test-output/report_20180305-0931/old/Suite/Demo.properties
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/http-cache/segments_1
apk/co.miracletek.miracle.prd-Signed.apk
Default test.pdf
Default test.pdf
pom.xml
src/log4j.xml
*.xml
*.properties
