<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>Here are some favorites</comment>
<entry key="appcode">Automation</entry>
<entry key="username">abc</entry>
<entry key="password">abc</entry>
<entry key="toemail">saimatab2016@gmail.com</entry>
</properties>